@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 100%;
  }

  /* High Contrast Mode */
  .high-contrast {
    --primary-600: #0000ff;
    --indigo-600: #0000ff;
  }

  .dark.high-contrast {
    --primary-600: #ffff00;
    --indigo-600: #ffff00;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-50 transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-slate-900 dark:text-white;
  }

  h1 {
    @apply text-4xl sm:text-5xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  h3 {
    @apply text-2xl sm:text-3xl;
  }
}


@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}